@model List<CategoryDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mt-2 mb-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-m-12 mb-2">
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#dark-header-modal">Yeni Marka Ekle</button>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Düzenle</th>
                                        <th>Kategori Adı</th>
                                        <th>Eklenme Tarihi</th>
                                        <th>Pasif Yap</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Where(x => x.TopCategoryId == 0).OrderByDescending(x => x.CreateDate))
                                    {
                                        <tr>
                                            <td><button class="btn btn-danger">Güncelle</button></td>
                                            <td>@item.Name</td>
                                            <td>@item.CreateDate</td>
                                            <td><button class="btn btn-info">Pasif Yap</button></td>
                                        </tr>
                                        foreach (var subCategory in Model.Where(x => x.TopCategoryId == item.Id))
                                        {
                                            <tr>
                                                <td><button class="btn btn-danger">Güncelle</button></td>
                                                <td>@item.Name - @subCategory.Name</td>
                                                <td>@subCategory.CreateDate</td>
                                                <td><button class="btn btn-info">Pasif Yap</button></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="dark-header-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dark-header-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="AddCategory" asp-controller="Category"
                  data-ajax="true" data-ajax-method="POST"
                  data-ajax-success="OnSuccess">
                <div class="modal-header modal-colored-header bg-dark">
                    <h4 class="modal-title" id="dark-header-modalLabel">Yeni Marka Ekle</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <select class="form-select" name="TopCategoryId">
                                <option value="0">Seçiniz</option>
                                @foreach (var item in Model.Where(x=>x.TopCategoryId==0))
                                {
                                     <option value="@item.Id">@item.Name</option>
                                     @foreach (var subCategory in Model.Where(x=>x.TopCategoryId==item.Id))
                                     {
                                          <option value="@subCategory.Id">=> @subCategory.Name</option>
                                     }
                                }
                            </select>
                        </div>
                         <div class="col-md-12 mb-2">
                              <input type="text" placeholder="Kategori Adı" class="form-control" name="Name" />
                        </div>
                    </div>
                   
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
     function OnSuccess() {
        $('#dark-header-modal').modal('hide');
         Swal.fire('İşlem Başarılı!', '', 'success')
    }
</script>