@model List<ProductFeaturesDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mt-2 mb-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-m-6 mb-2">
                        @if (User.IsInRole("SysAdmin") || User.IsInRole("Admin"))
                        {
                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#dark-header-modal">Yeni Özellik Ekle Ekle</button>
                        }
                    </div>
                    <div class="col-m-6 mb-2 text-end">
                        <button class="btn btn-dark">@Model.FirstOrDefault().Product.Name</button>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    @if (User.IsInRole("SysAdmin") || User.IsInRole("Admin"))
                                    {
                                        <tr>
                                            <th>Renk</th>
                                            <th>Boy</th>
                                            <th>Genişlik</th>
                                            <th>Yükseklik</th>
                                            <th>İndirim Tanımla</th>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <th>Renk</th>
                                            <th>Boy</th>
                                            <th>Genişlik</th>
                                            <th>Yükseklik</th>

                                        </tr>
                                    }

                                </thead>
                                <tbody>
                                    @if (User.IsInRole("SysAdmin") || User.IsInRole("Admin"))
                                    {
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Color</td>
                                                <td>@item.Size</td>
                                                <td>@item.Width</td>
                                                <td>@item.Height</td>
                                                <td class="text-center"><a asp-controller="Product" asp-action="DiscountList" asp-route-featureId="@item.Id" class="btn btn-dark">İndirim Tanımla</a></td>
                                            </tr>
                                        }

                                    }
                                    else
                                    {
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Color</td>
                                                <td>@item.Size</td>
                                                <td>@item.Width</td>
                                                <td>@item.Height</td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dark-header-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dark-header-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="AddProductFeature" asp-controller="Product"
                  data-ajax="true" data-ajax-method="POST"
                  data-ajax-success="OnSuccess">
                <div class="modal-header modal-colored-header bg-dark">
                    <h4 class="modal-title" id="dark-header-modalLabel">Yeni Özellik Ekle</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" name="ProductId" value="@Model.FirstOrDefault().ProductId" />
                        <div class="col-md-12 mb-2">
                            <input type="text" class="form-control" name="Color" placeholder="Renk" />
                        </div>
                        <div class="col-md-12 mb-2">
                            <input type="text" class="form-control" name="Size" placeholder="Size" />
                        </div>
                        <div class="col-md-12 mb-2">
                            <input type="number" class="form-control" name="Height" placeholder="Yükseklik" />
                        </div>
                        <div class="col-md-12 mb-2">
                            <input type="number" class="form-control" name="Width" placeholder="Genişlik" />
                        </div>
                        <div class="col-md-12 mb-2">
                            <textarea class="form-control" placeholder="Ürün Açıklaması" name="ProductDescription"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function OnSuccess() {
        $('#dark-header-modal').modal('hide');
        Swal.fire('İşlem Başarılı!', '', 'success')
    }
</script>